html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('Assets/0_AZURE RESIDENCE.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.header {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 70%;
  box-sizing: border-box;
  border-radius:10px;
}

.menu {
  margin: 20px auto;
  max-width: 60%;
  padding-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  color:white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.buttons,
.floor-buttons,
.flat-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background: #a3a7aa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #005BB5;
}

.back-button {
  margin-top: 20px;
  background: #444;
}

h2 {
  margin: 20px 0;
}
